*{
    padding: 0px;
    margin:0px;
}

body{
    background-color:rgb(255, 255, 255);
    
}
a
{
    text-decoration: none;
    color: inherit;
}


/* 1.header___________________________________________ */
/* 1.header___________________________________________ */
header{
    height:60px;
    width: 100%;
    display: flex;
    background-color:rgb(15, 15, 15);
    align-items: center;
    justify-content: space-around;
  background-color:darkcyan;
}

header ul
{
    list-style: none;
    display: flex;
    color:white;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

header ul  li 
{
    margin: 0 1.2vw;
}

header ul  :hover
{
   color:rgb(237, 237, 237);
}


header h1
{
    font-size: 2rem;
    font-family:  'Arial Narrow Bold', sans-serif;
    color: white;
    margin-right:23%;
}

header img
{
    visibility: hidden;
    margin:0 3px;

}
@media screen and (max-width:800px)
{

    header ul 
    {
        display: none;
    }
    header h1
    {
        margin-left: 40%;
    }

    header img
    {
        visibility: visible;
        margin-right: 2px;
    }
}
/* 2.introduction______________________________ */
/* 2.introduction______________________________ */

#introduction
{
    align-items: center;
    
    height:550px;
    width : 100%;
    font-family: 'Raleway';
    background : linear-gradient(-60deg,#52eee1,#84f3c2,#23a6d5 ,#23d5ab);
    background-size: 200% 200%;
  animation:gradient 16s ease infinite;
   
    
 
}



#introduction p
{
    color: white;
    padding-top:8vh;
    font-size: 1.5rem;
    margin-left:10vw;

}

#small
{
    color: white;
     font-size: 0.93rem;
     margin-left:10vw;
    padding-bottom: 8vh;
  
    font-weight:lighter;

}
#small button
{
    font-weight: bold;
    color:rgba(56, 94, 104, 0.689);
    margin:5px ;
    background-color: rgb(182, 214, 250);
   border: none;
   border-radius: 3px;
   padding: 3px;
   background : linear-gradient(-45deg ,#23a6d5 ,#ffffff ,rgb(97, 152, 190));
   background-size: 250% 200%;
   animation:gradient 5s ease infinite;
   border: black solid 1px;

}
#small button :hover
{
    color: white;
}
@keyframes gradient {
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
    
}

/* 2.1 side_bar______________________________ */
/* 2.1 side_bar______________________________ */

#side_bar
{
    padding: 2px;
    display:none;
    height:240px;
    border: black solid 1.01px;
    border-radius: 3px;
  
    position:fixed;
    top:62px;
    right:1px;
   background-color: rgba(255, 255, 255, 0.55);
}
#side_bar ul
{
    list-style: none;
    margin:10px 3px ;

}

#side_bar ul li
{
    margin : 5px 4px ;

}






/* 3.main______________________________________ */
/* 3.main______________________________________ */

main{

    background-color: rgb(255, 255, 255);
}
main h1 
{   background-color:inherit;
    font-size: xx-large;
    font-family: 'Poppins';
    text-align: center;
    padding : 10px 0 0 0  ;
    font-style: oblique;
}
.container
{
  
  padding: 10px 0 ;
   height:260px;
   width:100%;
   background-color:inherit;
   overflow-x:auto;
   white-space: nowrap;
   align-items: center;
   text-align: center;

}
.box{
    display:inline-block;
    background-color: #c368a486;
  
    height:240px;
    width:330px;
    border-radius: 3%;
    margin : 0 4px;
    border: black solid 1px;
}

#work .box 
{
    background-color: #62dfe8c3;

}

#services .box
{
    background-color: #82d3ffc3;

}


/* 4.about______________________________________ */
/* 4.about______________________________________ */
#about
{
    margin:10px 0 ;
    height : 200px;
    width:100%;
    background-color: #ffffffa5;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
   
}

#about .box
{
    background-color: none;
    text-align: center;
    background-color: white;
    border-radius: 0%;
    border: none;
    width:400px;
    height: 100%;;
}

#about .box p 
{
    text-align: center;
    
    font-size: 1.5rem;
    font-family: cursive;
    
}

/* 5.contact______________________________________ */
/* 5.contact______________________________________ */
#contact
{
    height : auto;
    width : 100%;
    background:rgba(0, 0, 0, 0.571);
    
 
  
}

.c
{
align-items: center;
    display: inline-block;
    background-color:inherit;
    margin:20px;
    width : 300px;
    height:auto;
    color:white;

}
.c ul 
{
    padding:5px;
    list-style: none;
}

.c ul li
{   
    font-size: 0.8rem;
    font-weight: lighter;
    margin : 5px 0 ;
}